.wrapper{
        display:grid;
      }
      
      .main{
        display:grid;
        grid-template-columns: 4fr 8fr;
      }

      

      .main-section{
        margin-right: 3em;
        font-family: Cambria;
        background-color: #E6E6FA;
        padding: 2em;
        border-radius: 50px;
      }


      .top-section{
        background-color: #6A5ACD;
        padding: 3em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color:white;
        font-family: Century Gothic;
      }

      .sidebar{
        background-color: white;
        margin-right:3em;
        margin-left: 3em;
        padding: 4em;
        border: 1px solid black;
        text-align: left;
        font-family: Times New Roman;

      }

      .bio{
        border-bottom: 1px solid grey;
      }

      .work{
        border-bottom: 1px solid grey;
        


      }

      .education{
        border-bottom: 1px solid grey;
      }

      .contact{
        border-bottom: 1px solid black;
        padding-bottom: 1em;
      }

      .border{
        border: 2px solid white;
        padding-left: 6em;
        padding-right:6em;
        padding-top: 1em;
        padding-bottom: 1em;
      }

      img{
        max-width: 200px;
        max-height: 200px;
        border-radius: 200px;
      }

      a{
        color: #0000CD;
      }

      a:hover{
        color:#1E90FF;
      }

      #container1{
        display:flex;
      }

      .year{
        flex:1;
        font-style: italic;
      }

      .job{
        flex:1;
        padding-bottom: 1em;
      }

      .achievement{
        flex:1;
      }

      .container2{
        display:flex;
      }


      .sidebar-pics{
        max-height: 25px;
        max-height: 25px;
      }

      .fa-facebook {
    background: #3B5998;
    color: white;
    }

    .fa {
    padding: 5px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 70%;
    }

    .fa:hover {
    opacity: 0.7;
    
    }


    .fa-twitter {
    background: #55ACEE;
    color: white;
    }

    .fa-instagram{
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      
    }

      

      